.tips-container{
 margin-top: 70px;
 font-family: 'Roboto', sans-serif;
 background-color: #DDD7BF;
 height: 92vh;
}

.top{
 background-color: #88932A;
 font-size: 2rem;
 margin-bottom: 200px;
 text-align: center;
}

.key-word{
 font-weight: bold;
}



.mid{
 align-items: center;
 justify-content: center;
 margin: 0;
 display: flex;
 flex-direction: column;
 text-shadow: 1px 1px 1px #050505;
}

.wrapper{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 gap: 1rem;
 margin: 5px;
 width: 80vw;
}

a{
 text-decoration: none;
 color: black;
}

.element {
 font-size: 20px;
 margin: 0 10px 10px 0;
 border-style: solid;
 border-color: white;
 border-radius: 10px;
 padding: 10px;
 color: black;
}

.element:hover {
 cursor: pointer;
 background-color: #88932A;
}

.close-button {
 width: 10%;
 text-align: center;
 color: white;
 background-color: #88932A;
 border-style: solid;
 border-color:black;
 border-radius: 10px;
 text-shadow: 1px 1px 1px #050505;
}

.close-button:hover {
 cursor: pointer;
}

.title{
 font-weight: bold;
}