.tip-container{
 height: 100vh;
 background-color: #88932A;
}
.item-container{
 padding-top: 10rem;
 display: flex;
 text-align: center;
 justify-content: center; 
}

.item-elements{
 background-color: #F7F7F7;
 border-radius: 1%;
 padding: 15px;
}

.top{
 margin-bottom: 15px;  
 background-color: #F7F7F7
}

.back-button{
 cursor:pointer;
 text-decoration: none;
}

.mid{
 margin-bottom: 15px;
}

a{
 text-decoration: none;
 color: black;
}

a:hover{
 color: #DDD7BF;
}

.description{
 display: flex;
 text-align: left;
}