.home-container {
  font-family: "Roboto", sans-serif;
  background-color: #ddd7bf;
  height: 100vh;
  width: 100%;
}

.home-elements {
  margin-right: auto;
}

.top {
  background-color: #88932a;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 200px;
  text-align: center;
  padding-top: 3.5rem;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.mid {
  font-size: 1.5rem;
  font-weight: 700;
  color: #88932a;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.app-name {
  font-weight: bold;
}

.mid-buttons {
  display: block;
}

.button span {
  margin: 0 5px;
}

.button {
  color: #88932a;
  text-align: center;
  text-decoration: none;
  background: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: 0 0 10px 0;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

@media only screen and (max-width: 899px) {
  .top {
    padding-top: 2.5rem;
  }
}
