.manutencao{
 margin-top: 6rem;
 width: 40%;
}

.score-text{
 font-weight: bold;
 font-size: 2rem;
 text-shadow: 1px 1px 1px #050505;
}

.score{
 display: block;
 text-align: center;
 color: #88932a;
}

@media only screen and (max-width: 899px) {
 .manutencao{
  margin-top: 6rem;
  width: 100%;
 }

 .score-text {
  font-size: 1.5rem;
 }
}